.options {
    padding: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

.options__item {
    display: flex;
    height: 350px;
    width: 350px;
    border-radius: 20px;
    background-color: #252525;
    color: #ffffff;
    font-size: 30px;
    justify-content: center;
    align-items: center;
    transition: background-color 0.7s ease-in-out;
}

.options__item-link {
    text-decoration: none;
}

.options__item-link:hover > .options__item {
    background-color: #fd7405;
}

@media(max-width: 720px) {
    .options__item {
        height: 300px;
        width: 300px;
        margin-bottom: 20px;
    }

    .options {
        flex-direction: column;
    }
}