.home {
    padding: 0 70px;
}

.main__header {
    padding: 20px;
    text-align: center;
    font-weight: 400;
    font-size: 66px;
    color: #fd7405;
    letter-spacing: 4px;
    margin-bottom: 70px;
    border-radius: 20px;
    background-color: #252525ad;
}