.theme__form {
    position: relative;
    display: flex;
    height: 400px;
    width: 900px;
    padding: 35px;
    flex-direction: column;
    background-color: #252525;
    border-radius: 20px;
    justify-content: space-around;
    align-items: center;
}

.theme__form-input {
    height: 50px;
    width: 400px;
    border-radius: 15px;
    padding: 0 20px;
    font-size: 30px;
    background-color: #252525;
    border: 3px solid #fff;
    color: #fff;
    outline: none;
}

.theme__form-block {
    width: 550px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.theme__form-label {
    line-height: 30px;
    font-size: 26px;
}

.theme__form-btn {
    width: 200px;
    height: 70px;
    background-color: #fff;
    border-radius: 15px;
    color: #252525;
    font-size: 26px;
    border: none;
    justify-content: space-around;
    cursor: pointer;
    outline: none;
    transition: font-size .7s ease-in-out;
}

.theme__form-btn:hover {
    font-size: 28px;
}

.detail {
    position: absolute;
    color: red;
    font-size: 16px;
}

.alert {
    position: relative;
}

.example-enter {
    opacity: 0.01;
}

.example-enter.example-enter-active {
    opacity: 1;
    transition: opacity 500ms ease-in;
}

.example-leave {
    opacity: 1;
}

.example-leave.example-leave-active {
    opacity: 0.01;
    transition: opacity 300ms ease-in;
}