.main__formcq {
    position: relative;
    display: flex;
    height: 400px;
    width: 950px;
    padding: 35px;
    flex-direction: column;
    background-color: #252525;
    border-radius: 20px;
    justify-content: space-around;
    align-items: center;
}

.main__form-input {
    height: 50px;
    width: 300px;
    border-radius: 15px;
    padding: 0 20px;
    font-size: 30px;
    color: #252525;
}

.main__form-block {
    max-width: 650px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


