.create {
    padding: 0 70px;
}

.create__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form__header {
    text-align: center;
    padding: 20px;
    font-weight: 400;
    font-size: 60px;
    background-color: #252525ad;
    color: #fd7405;
    letter-spacing: 4px;
    margin-bottom: 70px;
    border-radius: 20px;
}

.questions__header {
    text-align: center;
    padding: 20px;
    font-weight: 400;
    font-size: 60px;
    background-color: #252525ad;
    color: #fd7405;
    letter-spacing: 4px;
    margin-bottom: 70px;
    border-radius: 20px;
}

.form__header-secondary {
    font-weight: 400;
    font-size: 40px;
    letter-spacing: 4px;
    margin-bottom: 70px;
}

.Ñhoice__block {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.choice__list {
    position: relative;
    display: flex;
    min-height: 400px;
    width: 900px;
    padding: 35px;
    flex-direction: column;
    background-color: #252525;
    border-radius: 20px;
    justify-content: space-around;
    align-items: center;
}

.choice__btn {
    width: 230px;
    height: 70px;
    background-color: #252525;
    border-radius: 15px;
    color: #ffffff;
    font-size: 26px;
    border: none;
    border: 3px solid #fff;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;
    transition: font-size .7s ease-in-out;
}

.choice__btn:hover {
    color: #fd7405;
    border-color: #fd7405;
}

.choice__empty {
    font-size: 20px;
}

.choice__item {
    width: 400px;
    height: 60px;
    margin-bottom: 20px;
    border-radius: 15px;
    background-color: #ffffff;
    color: #252525;
    font-weight: bold;
    font-size: 24px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;
    transition: all 0.7s ease-in-out;
}

.obj__row {
    position: relative;
}

.upd__link {
    opacity: 0;
    top: 5px;
    position: absolute;
    margin-right: 20px;
    transition: opacity 0.7s ease-in-out;
    cursor: pointer;
}

.obj__row:hover > .choice__item {
    color: #fd7405;
    width: 550px;
    transform: translateX(75px);
}

.obj__row:hover > .theme__item {
    width: 550px;
    transform: translateX(75px);
}

.obj__row:hover > .questions__item {
    width: 600px;
    transform: translateX(75px);
}

.obj__row:hover > .icon__trash {
    opacity: 1;
    transform: translateX(-75px);
}

.obj__row:hover > .icon__edit {
    opacity: 1;
    transform: translateX(-75px);
}

.obj__row:hover > .icon__round {
    opacity: 0;
}

.faicon {
    transition: color .7s ease-in-out;
    color: #252525;
}

.icon__trash {
    transition: color .7s ease-in-out;
    right: -150px;
}

.icon__trash:hover {
    color: red;
}

.icon__round {
    opacity: 1;
    left: 20px;
}

.icon__edit {
    right: -90px;
}

.upd__link:hover .faicon {
    color: #fd7405;
}

.theme__block {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.theme__list {
    position: relative;
    display: flex;
    width: 900px;
    padding: 35px;
    flex-direction: column;
    background-color: #252525;
    border-radius: 20px;
    justify-content: space-around;
    align-items: center;
}

.theme__btn {
    width: 300px;
    height: 60px;
    background-color: #252525;
    border-radius: 15px;
    color: #fff;
    border: 2px solid #fff;
    font-size: 24px;
    font-weight: 600;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;
}

.theme__btn:hover{
    color: #fd7405;
    border-color: #fd7405;
}

.theme__empty {
    font-size: 20px;
}

.theme__item {
    width: 400px;
    height: 40px;
    margin-bottom: 20px;
    border-radius: 15px;
    color: #252525;
    font-size: 28px;
    text-decoration: none;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;
    transition: all 0.7s ease-in-out;
}

.theme__container {
    display: flex;
}

.theme__roundlist {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-left: 50px;
}

.theme__round {
    height: 260px;
    width: 260px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-weight: bold;
    font-size: 20px;
    color: #252525;
    border-radius: 100%;
}

.questions__block {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.questions__list {
    position: relative;
    display: flex;
    width: 900px;
    min-height: 400px;
    padding: 35px;
    flex-direction: column;
    background-color: #252525;
    border-radius: 20px;
    justify-content: space-around;
    align-items: center;
}

.questions__btn {
    width: 300px;
    height: 60px;
    background-color: #ffffff;
    border-radius: 15px;
    color: #252525;
    font-size: 24px;
    font-weight: 600;
    border: none;
    display: flex;
    text-decoration: none;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;
}

.questions__empty {
    font-size: 20px;
}

.questions__item {
    width: 460px;
    height: 60px;
    margin-bottom: 20px;
    border-radius: 15px;
    color: #252525;
    background-color: #fff;
    font-weight: bold;
    font-size: 28px;
    display: flex;
    text-decoration: none;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;
    transition: all 0.7s ease-in-out;
}

.questions__btn:hover {
    color: #fd7405;
    border-color: #fd7405;
}

.questions__container {
    display: flex;
}

.back {
    position: absolute;
    top: 50px;
    left: 50px;
    background-color: #ffffff;
    height: 60px;
    width: 60px;
    border-radius: 100%;
    border: none;
    cursor: pointer;
}

.back::after {
    content: "";
    position: absolute;
    top: 50%;
    left: calc(50% + 3px);
    height: 15px;
    width: 15px;
    border-left: 4px solid #252525;
    border-bottom: 4px solid #252525;
    transform: translate(-50%, -50%) rotate(45deg);
}

option {
    color: white;
}



.delete__text {
    color: #fff;
    font-size: 26px;
}

.delete__confirmation {
    width: 510px;
    display: flex;
    justify-content: space-between;
}

@media(max-width: 600px) {
    
    .choice__list {
        width: 380px;
        padding: 15px;
    }
    
    .choice__btn {
        width: 150px;
        height: 50px;
    }
    
    .choice__item {
        width: 300px;
        height: 50px;
    }

    .back {
        position: absolute;
        top: -70px;
        left: 0px;
    }
    
    .back::after {
        content: "";
        position: absolute;
        top: 50%;
        left: calc(50% + 3px);
        height: 15px;
        width: 15px;
        border-left: 4px solid white;
        border-bottom: 4px solid white;
        transform: translate(-50%, -50%) rotate(45deg);
    }
}