.main__form-btn {
    width: 200px;
    height: 70px;
    background-color: #ffffff;
    border-radius: 15px;
    color: #252525;
    font-size: 26px;
    border: none;
    justify-content: space-around;
    cursor: pointer;
    transition: font-size 0.7s ease-in-out;
    outline: none;
}


.main__form-btn:hover {
    color: #fd7405;
    border-color: #fd7405;
}